{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Dashboard</h1>
    <p>Welcome to your dashboard, {{ username }}</p>
    <div>
        <a href="{{ url_for('admin.new_page') }}" class="btn btn-primary">Create new page</a>
    </div>
    <div>
        <a href="#" class="btn btn-secondary">View Page Suggestions</a>
    </div>
    <div>
        <a href="#" class="btn btn-secondary">Manage Users</a>
    </div>
    <div>
        <a href="#" class="btn btn-secondary">Site Settings</a>
    </div>
    <div>
        <a href="#" class="btn btn-secondary">View Reports</a>
    </div>
    <div>
        Site suggestions TBA
    </div>
{% endblock %}