{% extends "base.html" %}  

{% block title %}Create New Page{% endblock %}

{% block content %}

<div class="container mt-5">
    <form method="POST" action="{{ url_for('admin.new_page') }}">
        {{ form.hidden_tag() }}
        <!-- {{ form.csrf_token }} -->
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            {{ form.title(class="form-control", placeholder="Enter page title") }}
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            {{ form.content(class="form-control", rows=5, placeholder="Enter page content") }}
        </div>
        <button type="submit" class="btn btn-primary">Create Page</button>
</div>

{% endblock %}
