{% extends "base.html" %}
{% block title %}Edit Suggestion{% endblock %}

{% block content %} 
{%for suggestion in suggestions%}
<div class="card mb-3 border">
    <div class="card-body">
        <p class="card-title">{{ suggestion.title }}</p>
        <a href="{{ url_for('admin.view_suggestion', suggestion_id=suggestion.id, slug=suggestion.page.slug) }}">
            <button type="button" class="btn btn-primary">View Suggestion</button>
        </a>
    </div>
</div>

{% endfor %}
{% endblock %}